ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEDcpSI8dqeZiu/rHLOcjhXW2p/MxFos/aVsGhQgy7sS szkolnik@Sygin
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL7qryNnf9zUZ5E+DD4z9yHugCkrIrFMXigvRfFSlhod szkolnik@LAPTOP-CAFNU5ND
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDGTHkB6rVlGwMYPMq8e9/3gR9LGV1FhWogmf3KhsvwG varonis\gszkolnik@GSZKOLNIK-LT2
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII2OMZBGSMz8CXip80Kla0H7v5NxsIedVTY3vW3If8pX gsz@varonis-labs
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDKIw8CpzqOPDChLA0cQ/BTFFv3k8v1rSwnbeR6Xuw3b szdocker@szdocker
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKF7pTCCo88FpglQDJlIrKRhuBnOR2GI9Hg4Hce3WzgO root@szdocker
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAZFHnsPCs/4lupKJnOhXZH+TmpkxVdatqCRH79zicw8 root@wolfpack
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFu/tEYb3/KubefZhMrUEvMf/4hvjfyNCJ6n9sWLLGeq ubuntu@ubuntu
